body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.main-container {
    max-width: 400px;
    height: auto;
    border: 5px solid rgb(59, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(70, 70, 70);
}
.display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 390px;
    height:  100px;
    overflow-wrap: break-word;
    border: 1px solid gray;
    margin: 5px;
    box-sizing: border-box;
    background-color: rgb(179, 178, 178);
    border-radius: 5px;
}

button {
    font-size: 36px;
    width: 90px;
    height: 90px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid rgb(236, 232, 232);
}
.buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.screen-display {
    word-wrap: break-word;
    font-size: 36px;
    text-align: end;
}
@media (max-width: 420px) {
    buttons {
        font-size: 28px;
        width: calc(25% - 6px);
        height: calc(25vw - 6px);
        margin: 3px;
        box-sizing: border-box;
}
}